* {
  font-family: Lato;
  color: white;
  font-size: 1.3em;
  text-align: center;
}
body {
  background-color: #172b4e;
}
.App {
  position: absolute;
  top: 10%;
  left: 10%;
}
#break-length {
  display: inline;
}
#session-length {
  display: inline;
}
.arrow-btn {
  background-color: transparent;
  border: none;
}
#start_stop {
  background-color: #26489e;
  border: none;
  margin-right: 0.5em;
}
#reset {
  background-color: #26489e;
  border: none;
}
